#root {
    color: blue;

    .January{
        color: green;

        // &#1{
        //     background-color: chocolate;
        // }
        
        .day{
            color: darkgray;
        }
    }
}